<launch>
    <node name="agrotec_mrcnn" pkg="agrotec_mrcnn" type="mrcnn.py" output="screen">
        <remap from="~input" to="/raspicam_node/image" />
        <param name="~visualization" value="true" />
	    <param name="~model_path" value="$(find agrotec_mrcnn)/weights/mask_rcnn_weed_0040.h5" />
        <rosparam param="~class_names">["BG", "weed", "crop"]</rosparam>
    </node>

<!--
    <node name="bag" pkg="rosbag" type="play"
        args="-l $(find mask_rcnn_ros)/bags/rgbd_dataset_freiburg3_long_office_household.bag" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mask_rcnn_ros)/rviz/mask_rcnn_ros.rviz" />
-->

</launch>
